/* Navbar */
#navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

/* Toggle */
#toggle {
  cursor: pointer;
  padding: 0.1rem 0.3rem;
}

/* Toggle Bars */
#toggleBars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  transition: all 0.3s ease;
}

#toggleBars span {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Toggle Bars (Open) */
#toggleBars.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggleBars.open span:nth-child(2) {
  opacity: 0;
}

#toggleBars.open span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

/* Custom Navbar Links with Animation */
.cBtn {
  padding: 8px 15px;
  font-weight: 700;
  border-radius: 3px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease; /* Smooth transition for color and border changes */
}

/* Hover Effect */
.cBtn:hover {
  border-bottom-color:  #000; /* Border color for left and bottom */
}

/* Active Link Styles */
.cBtn.active {
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  color: aliceblue;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for background color and box-shadow */
}

/* Small Device Links Animation */
#smallDeviceLinks {
  flex-direction: column;
  align-items: center;
  gap: 1px;
  width: 100%;
  position: fixed;
  left: 0;
  transition: all 0.5s ease; 
  overflow: hidden;
}

/* User Profile */
.user-dropdown .dropdown-menu {
  border-radius: 0.3rem;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-out;
}

.user-dropdown .dropdown-menu p {
  font-weight: 700;
  padding: 0.5rem .75rem;
  margin: 0;
}

.user-dropdown .dropdown-menu.h-auto {
  max-height: 150px; 
}
