/* Btn_Illuminate Starts */
.illuminate {
    font-size: 17px;
    background: transparent;
    border: 2px solid #000;
    border-radius: 3px;
    border-bottom: 0px; 
    font-weight: 600;
    padding: 1em 1.5em;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .illuminate::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: 0.5s ease;
  }
  
  .illuminate:hover {
    transition-delay: 0.5s;
  }
  
  .illuminate:hover::before {
    width: 100%;
  }
  
  .illuminate::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #000000;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .illuminate:hover::after {
    height: 100%;
    transition-delay: 0.4s;
  }
/* Btn_Illuminate Ends */
/* Btn_Elevate Starts */
.Elevate {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
    cursor: pointer;
  }
  
  .Elevate span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  .Elevate span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  .Elevate span:not(hover) {
    transition: all 1s;
  }
/* Btn_Elevate Ends */
/* Btn_Lifted Starts */
.lifted {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 .lifted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 .lifted:hover {
  color: #e8e8e8;
 }
 
 .lifted:hover::before {
  width: 100%;
 }
/* Btn_Lifted Ends */
